.Loginpage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 240, 232);
}
.LoginPageBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.Loginpage-user-box input{
    width: 35vw;
}
.LoginPageForm{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: -5px auto;
    width: 40vw;
    padding: 2vw 1vw;
    background-color: rgb(125, 47, 143);
    border-radius: 10px 10px;
}
#LoginPageEmail{
    padding: 10px 5px;
    margin: 10px 10px;
}
#LoginPagePwd{
    padding: 10px 5px;
    margin: 10px 10px;
}
.Loginpage-user-box{
    position: relative;
}
.password-toggle-icon{
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    cursor: pointer;
}
.LoginPageButton{
    border: none;
    margin: 10px 10px;
    padding: 5px 15px;
    border-radius: 5px 5px;
    cursor: pointer;
    font-size: large;
    font-weight: 600;
    color: rgb(125, 47, 143);
}